<h2>Dankchat</h2>

<%= f = form_for @changeset, "#",
  id: "user-form",
  phx_change: "validate",
  phx_submit: "save" %>

  <%= label f, :username %>
  <%= text_input f, :username %>
  <%= error_tag f, :username %>

  <%= label f, :password %>
  <%= text_input f, :password %>
  <%= error_tag f, :password %>

  <%= submit "Save", phx_disable_with: "Saving..." %>
</form>
