<div class="Chat-page">

<div class="Chat-messages" phx-hook="ScrollBottom">
  <%= for message <- @messages do %>
    <p>[<%= NaiveDateTime.to_string(message.inserted_at) %>]: <%= message.body %></p>
  <% end %>
</div>

  <div class="Chat-users">
    <%= live_render @socket, DankchatWeb.MessageLive.UsersList, id: :user_list, session: %{"conn_id" => @socket.id} %>
  </div>

  <%= live_component @socket, DankchatWeb.MessageLive.FormComponent, id: :new %>
</div>