* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  font-size: 125%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html,
input {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}