* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
  width: 100%;
  max-height: 100%;
  min-height: 100%;
  margin: 0;
}

html {
  padding: 0;

  margin: 0;

  font-size: 125%;
  -webkit-font-smoothing: antialiased;
}

html,
input {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}
