.Login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  background-color: #000;
  background-image: url("../static/images/rarepepe.jpg");

  background-size: cover;
}

.Login-page-input {

  width: 400px;

  padding-bottom: 15px;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;

  color: white;

  font-size: 200%;
  letter-spacing: 3px;

  text-align: center;

  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.Login-page-label {

  padding-top: 15px;

  color: white;

  font-size: 200%;

  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
