@mixin flex($direction, $gap: "") {
  display: flex;
  flex-direction: $direction;

  @if $gap != "" {
    & > * + * {
      @if $direction == "row" {
        margin-left: $gap;
      } @else if $direction == "row-reverse" {
        margin-right: $gap;
      } @else if $direction == "column" {
        margin-top: $gap;
      } @else if $direction == "column-reverse" {
        margin-bottom: $gap;
      }
    }
  }
}
