.Chat-users-list {
  margin: 0px;
  width: 20%;
  display: inline-block;
  *display: inline;
  overflow-y: scroll;
  padding: 15px 20px 10px 20px;
}

.Chat-users-element{
  width: 100%;
  border-bottom: 1px solid black;
}